/* ------------------------All page------------------------ */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .nav {
    float: left;
  }
  
  .nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav a:hover:not(.active) {
    background-color: rgb(105, 10, 10);
  }
  

  .active {
    background-color: #1abc9c;
  }
  .sub-header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }
/* ------------------------index page------------------------ */

  .header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }
  .sub-content {
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    background-image: url();
}
  
  
  
  /* ------------------------Page Content------------------------ */

  .content {padding:20px;
  }
  li    {list-style-type: none;
  }
  .content h1 {
    text-align: center;
  }




/* ------------------------khassida page------------------------ */

.khassida a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}


/* ------------------------Card------------------------ */


  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* height: 100px; */
    /* width: 10%; */
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
  }

  .card img {
    height: 400px;
  }


footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}